---


import Sections from '../sections/Sections'
const currentLocale = Astro.currentLocale || "et";
const currentPath = Astro.url.pathname;
---

<main class="mt-20">
 <Sections
    currentLocale={currentLocale}
    currentPath={currentPath}
    />

</main>

